.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da viewport */
}

.object-fit-fill {
    max-width: 800px; /* Limita a largura máxima do vídeo */
    width: 100%;
    height: auto;
}